%h2#title ShopQi API
#action-links
  %ul

%h3 Private Applications
%p
  Using proprietary applications ShopQi API is a way to interact with the store.
  %br/
  By using them to establish automated tasks can be more convenient to use the store
  %br/
  -#%a{:href => "http://wiki.shopqi.com/Private_apps", :target => "_blank"} 查看私有应用帮助文档
%br/
%p#new-api

  %a.btn Generate a new application
%script(id="show-api-client-item" type="text/html")
  %h3.with-settings
    {{{ title }}}
    %a.del(href='#')=image_tag('admin/icons/trash.gif')
  %table.aligned.compact
    %tr
      %td.l api key
      %td {{{ api_key }}}
    %tr

      %td.l Password
      %td {{{ password }}}
    %tr
      %td.l Shared key
      %td {{{ shared_secret }}}
    %tr
      %td.l URL format

      %td https://apikey:password@hostname/api/resource.xml
:javascript
  App.api_clients = new App.Collections.ApiClients();
  App.api_clients.refresh(#{api_clients_json});
  new App.Views.ApiClient.Index({collection: App.api_clients})

