%h2#title 
  =t :souQueen_api
#action-links
  %ul

%h3 
  =t :private_applications
%p
  =t :private_applications_description
  %br/
  =t :private_applications_description_next_line
  %br/
  -#%a{:href => "http://wiki.shopqi.com/Private_apps", :target => "_blank"} 查看私有应用帮助文档
%br/
%p#new-api

  %a.btn 
    =t :generate_a_new_application_btn
%script(id="show-api-client-item" type="text/html")
  %h3.with-settings
    {{{ title }}}
    %a.del(href='#')=image_tag('admin/icons/trash.gif')
  %table.aligned.compact
    %tr
      %td.l 
        =t :api_key
      %td {{{ api_key }}}
    %tr

      %td.l 
        =t :api_password
      %td {{{ password }}}
    %tr
      %td.l 
        =t :shared_key
      %td {{{ shared_secret }}}
    %tr
      %td.l 
        =t :url_format

      %td https://apikey:password@hostname/api/resource.xml
:javascript
  App.api_clients = new App.Collections.ApiClients();
  App.api_clients.refresh(#{api_clients_json});
  new App.Views.ApiClient.Index({collection: App.api_clients})

