%form(action='#' onsubmit='return false')
  %table(border="0" cellpadding="5" cellspacing="5" width="100%")
    %tbody
      -#
        %tr
          %td
            %strong Service
          %td 手动
      %tr
        %td
          %strong Total merchandise has been shipped
        %td {{{line_items.length}}}
      {{#each line_items}}
      %tr
        %td
          %strong Delivery of goods
        %td {{{title}}}
      {{/each}}
      %tr
        %td
          %strong Express a single number
        %td
          %div(id="#edit_tracking_number_fulfillment_{{{id}}}")
            %input.tracking-number(name="tracking_number" size="20" type="text" value="{{{tracking_number}}}")
            %span.hide
              By
              %select(name="tracking_company")=options_for_select tracking_companies
            .st
              %input(id="fulfillment_notify_customer_{{{id}}}" checked="checked" name="notify_customer" type="checkbox" value="1")
              %label.note(for="fulfillment_notify_customer_{{{id}}}") Send logistics information to the customer
              %input(name="commit" type="submit" value="Update")
      %tr
        %td
          %strong News
        %td Merchandise has been shipped
      %tr
        %td
          %strong Status
        %td Success
      %tr
        %td
          %strong Created
        %td
          {{{date created_at}}}
          -#%span.hint (2011-06-18 03:53AM)
