#banner
  .content
    %h1 About Us
.content.subpage
  #about.col-8
    %h2 Company Description
    %p ShopQi Sochi Commerce Co., Ltd. of Shenzhen City is a one-stop e-commerce online software development, enterprise users will only take a few minutes to register an account, you have an online store; backstage management includes merchandise management, order management, customer management, etc. most commonly used functions of e-commerce。
    %p ShopQi different from ordinary e-commerce software, the introduction of international advanced technology software as a service, does not require installation, enterprise customers use the services we provide, do not need to worry about the technical details of server hardware, data security, data backup, etc.。
    %p We will position itself as a business user's internal technology departments to provide efficient and timely technical services for business users
    %h3 External Cooperation
    %p Sochi spirit of openness, equality and cooperative attitude, and actively explore various cooperation modes, wish to succeed in all areas of business and achieve win-win and mutually beneficial partnership.。
    %h3 Contact
    %p
      Email：
      =link_to 'admin@shopqi.com', 'mailto:admin@shopqi.com'
    %p Phone: See the bottom right corner of the page [Contact Us]
    %p Company Address: Futian District, Shenzhen Science and Technology Building, No. 105 Chardonnay, Meihua Road, Room 1102, 11th Floor,
