!!!
%html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %title Terms of Service - ShopQi
    = stylesheet_link_tag "layout_shopqi"

  %body
    #wrapper
      #agreement.content.subpage
        .col-8
          %h2 ShopQi Terms of Service
          %h3 1. About
          %p The terms of service agreement with Shenzhen Sochi your E-Commerce Co., Ltd. (here in after referred to Sochi) between。ShopQi.com（Here in after referred to as the Service） Is provided by the Sochi Internet software services. Prior to create an account and use this service, you must first agree to the terms.。
          %p This provision will be amended when necessary and without prior notice. Once the revised terms posted on the Web page that is effective to replace the original terms of service.
          %h3 2. Account
          %p You agree and understand that you are responsible for any account that you will get the service for the confidentiality of passwords associated with. You are responsible for all acts occur under your account and content responsible。
          %h3 3. Payment
          %p The service or where you register a service, which means that you agree to pay all costs.
          %p Sochi may require you to provide a credit card number via our approved card issuer to activate any issuance costs associated with your services, and / or payment services. Sochi fees and other expenses will be charged to your account or credit card account provided. If the authorization Sochi related costs charged to your credit card account, you are authorized to deduct Sochi automatically continue from the card account all relevant costs。
          %p Unless Sochi aspects because the problem can not normally result in the services provided, all costs relating to the services you pay are non-refundable
          %h3 4. Content and Copyright
          %p Sochi for the content that you submit to the Service is not ownership, ownership of the content is still owned by you. However, if you set the page open, it means that you allow others to view and share your content.
          %p You understand that any content provided by others Sochi responsible or liable for any absence, the Sochi no obligation to pre-screen such Content. However, the right to decide whether the contents of Sochi appropriate and consistent with the terms and conditions; If you find this content violates the Terms or otherwise objectionable, Sochi ready and have the absolute discretion to pre-screen, move, refuse, modify and / or remove content without prior notice.
          %p Designs and Patents owned by Sochi all the services. Sochi without written permission, you can not duplicate, copy, or reuse any portion of the code and designs.
          %h3 5. Privacy Policy
          %p Using the Service, you agree to the collection and use of Sochi legitimate about you and your use of the Service's technical or diagnostic information. The information collected will be used to improve the content of Web pages to improve our service quality.
          %p Sochi will not share your information and content shared or sold to other organizations. Except in the following circumstances：
          %ul
            %li You agree to share the information;
            %li Sochi needs to obey the court summons, legal order or comply with legal process;
            %li You have violated this provision.
          %h3 6. Termination of service
          %p You may terminate your account and / or disable this service. Any fees paid prior to your termination of service are not refundable (except Except as otherwise expressly permitted by the Terms of Service)
          %p Sochi may, in some cases, without prior notice, immediately terminate or suspend your access to all or part of the account and / or the Service. Reasons for the termination of such services include, but are not limited to:
          %ul
            %li Violate the terms of service;
            %li Your request to cancel or terminate your account;
            %li Need to obey the court summons, legal order or comply with legal process;
            %li Problems caused by unexpected natural disasters;
            %li You do not have to pay fees associated with the service.
          %p 一Once your account is terminated, you will not normally use this service. Additionally, you can choose to delete all information and content under your account.
          %h3 &nbsp;
          %p
            © Shenzhen E-Commerce Co., Ltd. for the Sochi agreement has the final say and the right to amend。
