#banner
  .content
    %h1 404 Page not found
.content.subpage
  #error-404
    =image_tag 'graphics/404-logo.png',width: 200,height: 209
    %p
      %em
        Sorry! You visit the page does not exist or an error has occurred
        %br/
        You can return
        =link_to "Home","https://www.shopqi.com"
