- @current_tour = :current
- @current_security = :current

#banner
  .content
    %h1 Managed Services &amp; Security
  / .content
/ #banner
.content.subpage
  #sidebar-features.col-3.last=render 'sidebar'
  .col-9.right.last
    %h2.center We are responsible for the confidentiality and security of data
    %p.feature-subheading Your shop is hosted in a secure server.
    .col-9.margin-bottom.clearfix.last.hosting-and-security(style="background: url(#{asset_path('graphics/feature-lock.jpg')}) no-repeat center ; ")
      .left.margin-bottom(style="width:240px; margin-right:20px")
        %h3 No need to install
        %p We are responsible for the installation shop procedures, including the future of functional, upgrade.
      / .col-4
      .right.margin-bottom.last(style="width:240px")
        %h3 Speed ​​server
        %p High-speed and stable server program is running strong performance Soqueen.
      / .col-4
      .col-3.left.clear
        %h3 SSL encryption
        %p Soqueen shop using industry-standard 128-bit encryption technology to ensure that your customer information and order data in the transaction process safety.
      / .col-4
      .col-3.right.last
        %h3 Bandwidth limitation
        %p We hope to see your customers better. If your online store has many visitors (customers), it will consume a lot of network bandwidth, and you do not need to pay additional fees.
      / .col-4
    / .col-9
    -#
      .col-9.last.content-delivery(style="background: url(#{asset_path('graphics/feature-cdnbox.jpg')}) no-repeat;  height:279px;margin-top:15px; margin-bottom:25px;")
        %div(style=" width:270px; padding:27px 20px 20px 20px")
          %h3 Content forward network (CDN)
          %p Soqueen are few offers forward network (CDN) services in one e-commerce platform.
      / .col-9
    .col-4-5
      %h3 Automatic backup
      %p Use Soqueen you no longer worry about the security of data and we will automatically run a backup program to ensure that your data is always online store is secure.
      .center
        =image_tag 'graphics/feature-autobackups.gif', class: :screenshot
      / .center
    / .col-4-5
    .col-4-5.last
      %h3 No hidden fees
      %p We offer unlimited bandwidth and zero setup fee, you choose the price and postpaid plan without paying a penny more.
      .center
        =image_tag 'graphics/feature-nohiddenfees.gif', width: 115, height: 99, class: :screenshot
      / .center
    / .col-4-5
    %hr/
    .col-3
      %h3 Your own domain name
      %p
        =image_tag 'icons/www48.gif', width: 48, height: 48, class: 'icon-right'
        Use your own
        %strong www
        Top-level domain. If you do not like the domain name, you can use our offer when you sign up
        %strong=store_host_with_port
        Domain address.
    / .col-3
    .col-3
      %h3 Free Upgrade
      %p
        =image_tag 'icons/boxfree48.gif', width: 48, height: 48, class: 'icon-right'
        Soqueen will often improve function, and provides a free upgrade service. All of our users do not need to do this to pay an additional fee.
    / .col-3
    .col-3.last
      %h3 Ruby on Rails
      %p
        =image_tag 'logos/ror-logo.jpg', width: 48, height: 48, class: 'icon-right'
        Soqueen is based
        %em Ruby on Rails
        Build e-commerce platform, which allows us to more quickly respond to user needs.
    / .col-3
    .clearfix
      .next-feature
        .next-buttons.clearfix
          %a.signup(href="/signup") Registration
          %a.next-step(href="/tour/features") View a list of characteristics &rsaquo;
        / .clearfix
      / .next-feature
    / .clearfix
  / .col-9
/ content
.no-signup-page(style="margin-top: 30px;")
