%h2#title General Settings
#action-links
  %ul
#general-settings
  =form_for shop do |f|
    %h3 About you
    %p.hint.sb
      Can store named，This name will be displayed on the page title
    .box2
      %dl
        %dt.nst=f.label :name
        %dd=f.text_field :name ,class:"big"
        %dt=f.label :email
        %dd=f.text_field :email ,class:"big"
    %h3 Store Address
    .box2
      %dl
        %dd
          %table.data2{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 600px"}
            %tr
              %td.region{:colspan => "2"}
                %label{:for => "shop_address1"} Address
                %br/
                =f.select :province, District.list, {include_blank: '--省份--'}, style: 'width: 106px'
                =f.select :city, District.list(shop.province), {include_blank: '--城市--'}, style: 'width: 106px'
                =f.select :district, District.list(shop.city), {include_blank: '--地区--'}, style: 'width: 106px'
            %tr
              %td{:style => "padding-right: 5px"}
                =f.label :address
                %br/
                =f.text_field :address,size:50
            %tr
              %td{:style => "padding-right: 5px"}
                =f.label :zip_code
                %br/
                =f.text_field :zip_code,size:7
              %td
                =f.label :phone
                %br/
                =f.text_field :phone ,size:20
    %h3 Adjustment of standards and formats
    %p.hint.sb
      Standards and Formats，The prices for the product，Shipping Weight and ongoing，Storage time, etc.
    .box2
      %dl.nsb
        %dt
          =f.label :order_number_format
          %small=link_to "Custom Order Number format","#",id:"formatting"
        %dd
          %p.note.sb#order-number-format-notes(style="display:none") You can change the format of your order number here，Among{{number}}Is a placeholder,Order number will be replaced。
          =f.text_field :order_number_format,style:'display:none'
          %span#order-number-format-example #1234
        %dt
          %label(for="shop_currency") Currency
          %small
            %a#currentcy_format(href="#")> Custom display format
        %dd
          =f.select :currency, currentcy_options
          #money_format_content.hide
            %p.sst You can change the currency in the storefront display format.其中{{amount}}And{{amount_no_decimals}}Is a placeholder will be replaced by the actual currency.
            %p.st
              =f.text_field :money_with_currency_format, class: :has_example
              %span.note Page display,Contained units:
              %span#shop_money_with_currency_format_example.note ¥29.95 元
            %p.st
              =f.text_field :money_format, class: :has_example
              %span.note Page is displayed, do not include units:
              %span#shop_money_format_example.note ¥29.95
            %p.st
              =f.text_field :money_with_currency_in_emails_format, class: :has_example
              %span.note Message is displayed, including units:
              %span#shop_money_with_currency_in_emails_format_example.note ¥29.95 元
            %p.st
              =f.text_field :money_in_emails_format, class: :has_example
              %span.note Message is displayed, do not include units:
              %span#shop_money_in_emails_format_example.note ¥29.95
    %h3 Security
    %p.hint.sb
      You can add a password for your store，So，When users visit your store when，You need to enter this password。This feature in your store maintenance or process your information is very useful when。Or if you are a wholesaler，Sell ​​to a particular customer group，It is also very useful。
    .box2
      %dl.nsb
        %dd
          =f.check_box :password_enabled,value:1
          %label{:for => "shop_password_enabled"} Password protection storefront
      %dl#password-details.nst{:style => "display:none"}
        %dt.nst
          =f.label :password
        %dd
          =f.text_field :password
        %dt.sst
          %label{:for => "shop_password_message"} Inform the customer information
        %dd
          %textarea#shop_password_message.image-target{:cols => "20", :name => "shop[password_message]", :rows => "8"}
    %p.btn-divider{:style => "margin: 0"}
      =f.submit "Save",class:"btn"

:javascript
  $(function(){
    Utils.Region.init()
    $('#shop_password_enabled').change(function(){
      $('#password-details').toggle($(this).attr('checked') == 'checked');
    }).change();
  })
