%h2#title 
  =t :general_settings
#action-links
  %ul
#general-settings
  =form_for shop do |f|
    %h3 
    =t :about_you
    %p.hint.sb
      =t :about_you_msg
    .box2
      %dl
        %dt.nst=f.label t(:name)
        %dd=f.text_field :name ,class:"big"
        %dt=f.label t(:email)
        %dd=f.text_field :email ,class:"big"
    %h3 
    =t :store_address
    .box2
      %dl
        %dd
          %table.data2{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 600px"}
            %tr
              %td.region{:colspan => "2"}
                %label{:for => "shop_address1"} 
                  =t :address
                %br/
                =f.select :province, District.list, {include_blank: '- State -'}, style: 'width: 106px'
                =f.select :city, District.list(shop.province), {include_blank: '- City -'}, style: 'width: 106px'
                =f.select :district, District.list(shop.city), {include_blank: '- Area -'}, style: 'width: 106px'
            %tr
              %td{:style => "padding-right: 5px"}
                =f.label t(:address)
                %br/
                =f.text_field :address,size:50
            %tr
              %td{:style => "padding-right: 5px"}
                =f.label t(:zip_code)
                %br/
                =f.text_field :zip_code,size:7
              %td
                =f.label t(:phone)
                %br/
                =f.text_field :phone ,size:20
    %h3 
      =t :adjustment_of_standards_and_formats
    %p.hint.sb
      =t :adjustment_of_standards_and_formats_msg
    .box2
      %dl.nsb
        %dt
          =f.label :order_number_format
          %small=link_to t(:custom_order_number_format),"#",id:"formatting"
        %dd
          %p.note.sb#order-number-format-notes(style="display:none") You can change the format of your order number here，Among{{number}}Is a placeholder,Order number will be replaced。
          =f.text_field :order_number_format,style:'display:none'
          %span#order-number-format-example #1234
        %dt
          %label(for="shop_currency") 
            =t :currency
          %small
            %a#currentcy_format(href="#")> 
              =t :custom_display_format
        %dd
          =f.select :currency, currentcy_options
          #money_format_content.hide
            %p.sst You can change the currency in the storefront display format.其中{{amount}}And{{amount_no_decimals}}Is a placeholder will be replaced by the actual currency.
            %p.st
              =f.text_field :money_with_currency_format, class: :has_example
              %span.note Page display,Contained units:
              %span#shop_money_with_currency_format_example.note ¥29.95 元
            %p.st
              =f.text_field :money_format, class: :has_example
              %span.note Page is displayed, do not include units:
              %span#shop_money_format_example.note ¥29.95
            %p.st
              =f.text_field :money_with_currency_in_emails_format, class: :has_example
              %span.note Message is displayed, including units:
              %span#shop_money_with_currency_in_emails_format_example.note ¥29.95 元
            %p.st
              =f.text_field :money_in_emails_format, class: :has_example
              %span.note Message is displayed, do not include units:
              %span#shop_money_in_emails_format_example.note ¥29.95
    %h3 
      =t :security
    %p.hint.sb
      =t :security_msg
    .box2
      %dl.nsb
        %dd
          =f.check_box :password_enabled,value:1
          %label{:for => "shop_password_enabled"} 
          =t :password_protection_storefront
      %dl#password-details.nst{:style => "display:none"}
        %dt.nst
          =f.label :password
        %dd
          =f.text_field :password
        %dt.sst
          %label{:for => "shop_password_message"} 
          =t :customer_information
        %dd
          %textarea#shop_password_message.image-target{:cols => "20", :name => "shop[password_message]", :rows => "8"}
    %p.btn-divider{:style => "margin: 0"}
      =f.submit t(:save),class:"btn"

:javascript
  $(function(){
    Utils.Region.init()
    $('#shop_password_enabled').change(function(){
      $('#password-details').toggle($(this).attr('checked') == 'checked');
    }).change();
  })
