.section
  %h3 Domain Management
  %p.note
    These are your store currently using the domain name
    = succeed "." do
      =link_to 'Learn how to set up your domain in Soqueen', "#{wiki_url_with_port}/DNS"
  %table#domains.standard-table.domainlisting(cellpadding="0" cellspacing="0")
    %thead
      %tr
        %th(scope="col") Domain name
        %th(scope="col") Record number
        %th.c(scope="col" style="text-align: center" width="100px") DNS Binding to shop
        %th(colspan="2" scope="col" width="140px") &nbsp;
    %tbody.items
    %tbody
      %tr#add-domain-link
        %td.action-link(colspan="5")
          %a(href="#")
            %span.plus +
            Add a domain you already own
  #add-domain.group(style="display:none;")
    #errorExplanation.errorExplanation(style="display:none;")
      %h2 An error occurred while saving
      %ul
        %li Domain name Can not be empty
    %form(action="/admin/domains" method="post")
      .group-fields
        .instructions
          %p
            %strong Please enter your domain name below
          %p
            http://
            %input#domain_host(name="domain[host]" size="32" type="text")
        .instructions
          %p
            %strong Please enter the domain name for the record number(This record number after an audit by Soqueen，Domain name in order to be a normal visit)
          %p
            %input#domain_record(name="domain[record]" size="32" type="text")
        / instructions
      / .group-fields
      .group-actions
        %input.btn(name="commit" type="submit" value="Bind this domain")
        Or
        %a.cancel(href="#") Cancel
      / .group-actions
  / .group
-#=render 'buy'

%script(id="domain-item" type="text/x-handlebars-template")
  %td(class="{{#if primary}}primary{{/if}}")
    %span.note http://
    %span
      %a.host(href="http://{{{host}}}") {{{host}}}
  %td.record {{{record}}}({{#if verified}}The audit by{{else}}Not subject to audit or review by{{/if}})
  %td.c
    %span.dns-check=image_tag 'spinner.gif'
  %td(style="text-align: left; padding: 10px")
    {{#if primary}}
    %p(style="margin: 0 0 7px")
      %strong Primary domain name
    %p#force-domain(style="margin: 0")
      %small
        {{#if force_domain}}
        %input#shop_force_domain(name="shop[force_domain]" type="checkbox" value="1" checked="checked")
        {{else}}
        %input#shop_force_domain(name="shop[force_domain]" type="checkbox" value="1")
        {{/if}}
        %label(for="shop_force_domain" style="font-weight: normal") Customers are always redirected to here?
    {{else}}
    %small
      %a.btn(href="#") As a primary domain name
    {{/if}}
  %td.deletions
    {{#unless is_myshopqi}}
    %a.del(href='#')=image_tag 'admin/icons/trash.gif', alt: 'Delete'
    {{/unless}}
%script(id="dns-wiki-item" type="text/x-handlebars-template")
  %a(href="#{wiki_url_with_port}/DNS#CNAME_Status" target="_blank") Failure
