%h2#title DNS &amp; Domain name
=render "shared/noscript"
=render "shared/upgrade_ie"
#action-links
  %ul
.pgroup.st.domain-page(style="margin-bottom: 5px")
  -if shop.plan_free?
    %p
      Free top-level domains can not bind，Before using this function, please
      =link_to 'Upgraded version', account_index_path
      。
  -else
    =render "index"

:javascript
  App.domains = new App.Collections.Domains(#{shop_domains_json});
  new App.Views.Domain.Index({collection: App.domains})

  task_name = 'setup_domain';
