%h2#title Store Navigation
#action-links
  %ul
    %li#new-menu
      %a(href="#") Add a link list
=render "shared/noscript"
=render "shared/upgrade_ie"
#add-menu.group(style="display:none")
  %form(action="/admin/links/add_list" onsubmit="return false")
    .group-fields
      %p
        %label(for="list_title") Title
      %p.ssb
        %input#list_title.long(name="title" type="text" value="")
    .group-actions
      %input.btn(name="commit" type="submit" value="Save")
      Or
      %a.cancel(href="#") Cancel
#link-lists
  %h3.st.sb Link List
  %p.note.ssb
    Link list is a collection of links，Customers who click on these links to navigate through the various pages Store；
    %br/
    When you add a new link list，Need to include it in the appearance of the subject to show up；To make this list of links displayed on the store page，Please
    %a(href="/admin/themes/current") Template Editor Modify the template.
  .section
    %ul#menus.nobull.st

%script(id="link-list-item" type="text/x-handlebars-template")
  / begin: default Link List items
  .default_container_link_list
    .clearfix
      %h4.fl.sr.sb(title="Permalink: {{{handle}}}") {{{title}}}
      %span.fl(style="position: relative; font-size: 11px; ")
        %a.editlist-action(href="#") Modify the link list
      {{#unless system_default}}
      %span.delete-linklist
        %a.destroy(href="#")=image_tag 'admin/icons/trash.gif'
      {{/unless}}
      %span.note.lighter.fr {{#if system_default}}Footer...，This is the default list of links.{{/if}}
    .faux-table-header
      %span Link Name
      %span Link path
    %ul.links
  / begin: add new Link
  .add_form_link_container.group-actions.unattached
    .add-action-link
      %a.btn(href="#") Add a link
    .link(style="display:none;")
      %form(action="#" onsubmit="return false")
        .clearfix.sb
          .add-link-title.link-col
            %span.add-link-header Name of the new link
            %input.medium(name="title" type="text")
          .add-link-linksto.link-col
            %span.add-link-header Links to
            %select.selector(name="link_type")
              =options_for_select link_types
            %select.subject(name="subject_handle")
            %input.medium.subject_params.linkform-hint(data-hint="Filter by tags (comma separated)" name="subject_params" type="text" style="display:none")
            %input.long.subject_http.linkform-hint(data-hint="http://shopqi.com" name="url" type="text" style="display:none")
        %input.btn(name="commit" type="submit" value="Add a link")
        Or
        %a.cancel(href="#") Cancel
        / .group-actions
  / begin: edit Link List items
  .edit_form_link_container(style="display:none;")
%script(id="link-item" type="text/x-handlebars-template")
  =image_tag 'admin/icons/drag_handle.gif', class: [:image_handle, :nsr]
  %span.link-title
    %a(href="{{{url}}}") {{{title}}}
  %span.link-url {{{url}}}
%script(id="edit_form_link_container-item" type="text/x-handlebars-template")
  %form.edit_link_list(action="#" onsubmit="return false")
    .group
      .group-fields
        .link-list-edit-header
          %dl.padding.nst.nsb.nsl.nsr
            %dt.nst Name
            %dd
              %input.big.sb(name="link_list[title]" size="30" type="text" value="{{{title}}}")
            %dt
              Permalink
              %span.note
                (
                %a(href="#{wiki_url_with_port}/Handle" target="_blank")> What's this?
                )
            %dd
              {{#if system_default}}
              %input(disabled="disabled" name="link_list[handle]" size="30" type="text" value="{{{handle}}}")
              %span.hint The default list of links fixed link is not modified
              {{else}}
              %input(name="link_list[handle]" size="30" type="text" value="{{{handle}}}")
              {{/if}}
      .faux-table-header
        %span Link Name
        %span Links to
      / edit-link
      %ul.editing-link-list
      .group-actions
        %input.btn(name="commit" type="submit" value="Save")
        Or
        %a.cancel(href="#") Cancel
%script(id="edit-link-item" type="text/x-handlebars-template")
  %a.delete.fr(href="#")=image_tag 'admin/icons/trash.gif'
  %input(name="id" type="hidden" value="{{{id}}}")
  %input.medium(name="title" size="30" type="text" value="{{{title}}}")
  %select.selector.sl(name="link_type" value="{{{link_type}}}")
    =options_for_select link_types
  %select.subject(name="subject_handle" style="display: none" value="{{{subject_handle}}}")
  %input.medium.subject_params.linkform-hint.hide(data-hint="According to the label filter(Separated by commas)" name="subject_params" size="30" type="text" value="{{{subject_params}}}")
  %input.long.subject_http.linkform-hint.hide(data-hint="http://shopqi.com" name="url" size="30" type="text" value="{{{url}}}")
%script(id="selector-blog-item" type="text/x-handlebars-template")
  =options_for_select blog_types
%script(id="selector-collection-item" type="text/x-handlebars-template")
  =options_for_select collection_types
%script(id="selector-page-item" type="text/x-handlebars-template")
  =options_for_select page_types
%script(id="selector-product-item" type="text/x-handlebars-template")
  =options_for_select product_types

:javascript
  App.link_lists = new App.Collections.LinkLists();
  //根据backbone文档，使用refresh方法进行初始化(而非fetch)，避免数据未加载完成，导致类似#linklists/1路由失效
  App.link_lists.refresh(#{link_lists_json});
  new App.Views.LinkList.Index({collection: App.link_lists})
