-if blog.commentable == 'no'
  %p.description.highlight(style="text-align: center")
    ==Comments have been disabled for this blog，You can#{link_to "Enable Comments",edit_blog_path(blog)}
-else
  -unless article.comments.blank?
    #comments
      %h4==Article#{article.title}的评论
      =render partial:"admin/comments/comment",locals:{blog:blog,article:article}
