-if blog.commentable == 'no'
  Disable Comments
-else
  %td(style="width: 15%;")
    =link_to "#{article.comments.size}Comments",comments_path(article_id:article.id,blog_id:blog.id),title:"Show all comments"
  %td(style="width: 15%;")
    %span.status_tag.unapproved
      =link_to "#{article.unapproved_comments.size}Article pending review",comments_path(article_id:article.id,blog_id:blog.id,status:"unapproved"),title:"Show all pending review"
