%dt=f.label :author
%dd=f.select :author, shop.users.map(&:name)
%dt=f.label :title
%dd=f.text_field :title,class:"big"
%dt Published an article in
%dd=f.select :blog_id, shop.blogs.reload.collect{|b|[b.title,b.id]}
%dt.sst=f.label :body_html
%dd{:style => "margin-bottom: 0"}=f.text_area :body_html,id:"kindeditor",style:  "width: 895px; height: 282px;"
%dt.sst=f.label :tags
%dd.ssb
  %p.note.sb Tags are keywords used to classify articles,Separated by a comma (,) between words。
  %p
    =f.text_field :tags_text, size:50
    %p.note{:style => "clear: both"} Recently used tags，Click to increase。
    %ul#tag-list.tag-list.clearfix.nobull.st
      -tags.each do |tag|
        %li
          %a(href="#")=tag.name
