.box2.sst
  %h3  Articles visibility
  %p.sb.note
    If you do not need this page to display in your shop，You can set its visibility to
    = succeed "." do
      %em 隐藏
  =form_for [blog,article], remote: true, html: {id: 'edit_article_form'} do |f|
    =f.select :published, [['Show', true], ['Hide', false]], {}, style: "width: 120px; font-size: 13px", onchange: "$('#edit_article_form').submit();"
