{% layout settings.customer_layout %}

<div id="template">
    <div class="template_header">
      <h2 class="title">Reset the account password</h2>
      <p class="note">Please enter your new password</p>
    </div>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <input type="hidden" name="customer[reset_password_token]" value= "{{  form.reset_password_token }}" />
      <input name="_method" type="hidden" value="put" />
      <div id="password" class="clearfix large_form">
        <label class="large" for="password">Password</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation">Confirm password</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="btn" type="submit" value="Reset Password" />
      </div>
    {% endform %}
</div>
