#export-customers.box2.ssb.sst.hide
  %h3 Export your customer information
  %p.sb
    Your customer information will be exported to
    %strong \.csv 文件
    (Separated by commas).
  %a#export_current_search_csv.btn.sr(href="#") Export current grouping
  %a#export_csv.btn(href="/admin/customers/export.csv") Export all customers
