%h2#title Customer Management
#action-links
  %ul
    %li#customer=link_to "New Customer Information", new_customer_path
    -#
      %li.csv
        %a#show_export_customers(href="#") Export Customer Information
      %li.csv
        %a(href="/admin/customer_imports") Importing Customer Information
=render "shared/noscript"
=render "shared/upgrade_ie"
-#=render :export
