%h2#title 
  =t :customer_management
#action-links
  %ul
    %li#customer=link_to t(:new_customer_information), new_customer_path
    -#
      %li.csv
        %a#show_export_customers(href="#") =t :export_customer_information
      %li.csv
        %a(href="/admin/customer_imports") Importing Customer Information
=render "shared/noscript"
=render "shared/upgrade_ie"
-#=render :export
