=render "menu"

#blank-slate.blank-slate.clearfix.ppb
  .heading
    %h3 You have had no customers.
    %p Here，After that you can see the customer record，These records are managed and.
  .details.clearfix
    #blank-slate-features.features.default.fl
      %ul
        %li.overview-your-customers
          %h3 Manage your customers
          %p Keep track of your customer order history，Total orders up to find out who，Or who is a frequent visitor to your store.
        %li.filter-your-customers
          %h3 Filter your customers
          %p Total spending by、Area and other conditions to filter customers. You can save the customer grouping these conditions.
        %li.last.group-your-customers
          %h3 Create a customer group
          %p Customers packet filtering criteria for preservation，You focus on the customer convenience.
    /.features
    #blank-slate-screenshot.screenshot.fl
      =image_tag 'admin/customer-blank-slate.jpg'
      .overlay.group-your-customers(style="width:139px; height:126px; top:60px; left:8px;")
      .overlay.filter-your-customers(style="width:375px; height:68px; top:60px; left:168px;")
      .overlay.overview-your-customers(style="width:375px; height:390px; top:158px; left:168px;")
    /.screenshot
  /.details
/#blank-slate

:javascript
  $('#blank-slate').blank_slate();
