=render "menu"

#blank-slate.blank-slate.clearfix.ppb
  .heading
    %h3 You have had no orders.
    %p Here，You can see the orders later，And manage them.
  .details.clearfix
    #blank-slate-features.features.default.fl
      %ul
        %li.overview-your-orders
          %h3 Manage your orders
          %p You can see the list who placed orders，The total amount of state and orders.
        %li.filter-your-orders
          %h3 Filter your order
          %p By paying state、Logistics status and whether other conditions to filter orders closure.
        %li.last.bulk-actions-orders
          %h3 Batch operation
          %p Use bulk operations can be performed on multiple orders to receive payment、Operations such as closing and opening.
    /.features
    #blank-slate-screenshot.screenshot.fl
      =image_tag 'admin/orders-blank-slate.jpg'
      .overlay.filter-your-orders(style="width:528px; height:24px; top:36px; left:12px;")  
      .overlay.bulk-actions-orders(style="width:85px; height:17px; top:72px; left:9px;")  
      .overlay.overview-your-orders(style="width:534px; height:395px; top:90px; left:9px;")  
    /.screenshot
  /.details
/#blank-slate

:javascript
  $('#blank-slate').blank_slate();
