=render "menu"

#table-filters.box2.sst
  %div(style="float: right; font-size: 12px")
    =t :showing_the_number_of
    %select#page-size-select(style="width:60px")
      -page_sizes.each_pair do |name, code|
        -value = order_search_path(limit: code)
        %option{value:"#{value}", selected:(@limit.to_i == code.to_i)}=name
  =t :show
  %a#payment-filter-link(href="#")=search_label :financial_status,t(:any_payment_status), financial_status
  =t :and
  %a#shipping-filter-link(href="#")=search_label :fulfillment_status, t(:any_distribution_of_state), fulfillment_status
  =t :of
  %a#status-filter-link(href="#")=search_label :status, t(:normal), status
  =t :orders
  #payment-status-select.filter-select
    %ul.dropdown.hide(style='left: -232px')
      %li
        %strong Payment status
      -financial_status.each_pair do |code, name|
        %li=link_to name, order_search_path(financial_status_eq: code)
      %li.filter-show-all.current=link_to "Show all", order_search_path(financial_status_eq: nil)
  #shipping-status-select.filter-select
    %ul.dropdown.hide(style='left: -142px')
      %li
        %strong Delivery Status
      -fulfillment_status.each_pair do |code, name|
        %li=link_to name, order_search_path(fulfillment_status_eq: code)
      %li.filter-show-all.current=link_to "Show all", order_search_path(fulfillment_status_eq: nil)
  #order-status-select.filter-select
    %ul.dropdown.hide(style='left: -52px')
      %li
        %strong Order Status
      -status.each_pair do |code, name|
        %li=link_to name, order_search_path(status_eq: code)
      %li.filter-show-all=link_to "Show all", order_search_path(status_eq: nil)
-#.announcement.c 公告.
.listing.sst
  #orders
    %form#batch-form(action="/admin/orders/set" method="post")
      .listing
        #order-container
          %table#order-table.standard-table.ssb.sticky-area(cellpadding="0" cellspacing="0")
            %thead.sticky-header.sticky-inactive
              %tr#order-controls.hide
                %th.bulk-editor(colspan=10 style="width:907px")
                  %select#order-select(name="operation")
                    %option(checked="checked" style="color: #888" value="") Select an action ...
                    %option.indent(value="close") Close Order
                    %option.indent(value="open") Recovery Orders
                    -#%option.indent(value="capture") 接收款项
                  -#
                    #multipage-page.hide
                      All
                      %b#multipage-page-count ###
                      This page has been selected in order.
                      %a#multipage-select-link(href="#" onclick="return false")
                        Select all
                        %b#multipage-page-total ###
                        Orders
                    #multipage-all(style="display: none")
                      %b#multipage-all-count ###
                      All pages have been selected orders.
                      %a#multipage-clear-link(href="#") Clear selected items
                    %td(style="text-align:right;vertical-align: middle")
                  %span#order-count
              %tr
                %th.nosort(style="width: 16px")
                  %input#select-all(type="checkbox")/
                %th.sortcol 
                  =t :orders
                %th(style="width: 22px; padding: 0") &nbsp;
                %th.sortcol.sortasc(style="width: 80px !important") 
                  =t :date
                %th.sortcol 
                  =t :customer
                %th.sortcol 
                  =t :payment_status
                %th.sortcol 
                  =t :delivery_status
                %th.sortcol(style="text-align: right;padding-right: 4px !important;background-position: 5% center !important;") 
                  =t :the_total_amount_on_order
            %tbody
%div(style="width:100%")
  #pagination

%script(id="show-order-item" type="text/x-handlebars-template")
  %td(style="padding-top: 5px")
    %input.selector(id="checkbox-{{id}}" name="orders[]" type="checkbox" value="{{id}}")
  %td
    %a.tips(href="/admin/orders/{{id}}" title="{{title}}") {{{name}}}
    {{#if note}}
    %span.note(title="{{note}}")
    {{/if}}
  %td.position-td
    %span.position.hide(title="The first{{index}}Records" style="") {{index}}
  %td
    %span.hint {{{date created_at "MM-dd HH:mm"}}}
  %td
    %a(href="/admin/customers/{{customer.id}}") {{{customer.name}}}
  %td
    %span(style="font-size: 11px" class="{{{financial_class}}}")
      {{{financial_status_name}}}
      -#=image_tag 'admin/icons/time-small.png', title: "此Orders授权支付即将过期"
    {{#if closed_at}}
    =image_tag 'admin/icons/closed.gif', style: 'margin-top: 3px', title: 'This Orders Closed'
    {{/if}}
  %td
    %span(style="font-size: 11px")
      %span(class='{{{fulfill_class}}}') {{{fulfillment_status_name}}}
  %td(style="text-align: right") ¥{{{total_price}}}

:javascript
  App.init = function(){
    new App.Controllers.Orders.Index();
    Backbone.history.start();
  }

  App.orders = new App.Collections.Orders();
  App.orders_pagination = #{@pagination};
  new App.Views.Order.Index.Index({collection: App.orders})
