#container
  #dialog
    .ssb.c=image_tag 'logos/shopqi-logo-new.jpg'
    =form_for(resource, :as => resource_name, url: user_password_path(resource)) do |f|
      .lform.c.clearfix.ppb
        %h3 Forgot your password? Can not log in?
        %p.ppb
          Enter below
          %strong E-mail address
          We will immediately send a message，Tells you how to recover your password!
        =f.text_field :email, size: "30", id: "login", class: :fn, style: "display: inline"
      .actions
        =f.submit "Send a link to reset your password operation", class: "btn"
        Or
        %a(href="#" onclick="history.back();return false;") Cancel
