#announcement.announcement.box2
  %small.options{style: "float:right"}
    %a{href: "#", onclick: "$('announcement').hide(); new Ajax.Request('/admin/dashboard/hide/id', {method: 'POST', parameters: paramsWithAuthentication()}); return false;; return false;"} Hide this notification
  %h4 ShopQi Data Center Migration notice
  %p ShopQi will be May 14 06:00-08:00 Migrating to a new data center server periods. In two hours, ShopQi will not provide services. Inconvenience, please understand.
