%noscript
  .announcement
    %h4
      Javascript is disabled script
    %p
      %strong
        In order to use Soqueen management background, your browser
        %em
          You need to enable javascript script
    %p
      Click to learn more
      %a{ :href => "http://www.enable-javascript.com/" }
        How to enable scripting
      \.
