#password-protected
  %span.lock-icon
    =t :home_enabled_pass
    = succeed "." do
      %strong=shop.password
    =t :you_can
    =link_to t('modify_or_delete'), general_preferences_path
    =t :this_pass
