#password-protected
  %span.lock-icon
    Your Store Home enable password protection, password:
    = succeed "." do
      %strong=shop.password
    You can
    =link_to 'Modify or delete', general_preferences_path
    This password.
