#upgrade-ie6.announcement{ :style => "display:none;" }
  %h4
    Please upgrade your browser
  %p
    %strong
      We're sorry, based on security considerations, ShopQi management background is not supported
      %em
        IE6
      \. For continued use of ShopQi, please upgrade your browser
  %p
    We recommend the following browsers
    %a{ :href => "http://www.google.com/chrome" }
      Google Browser
    ,
    %a{ :href => "http://www.getfirefox.com" }
      Firefox browser
    Or
    %a{ :href => "http://www.apple.com/safari/download/" }
      Safari
    \.
