#container
  #dialog
    .status
      %h1 You do not have permission to access this page
    %p.pt
      If you need to visit this page, please contact your administrator to ask for permission!
    .actions
      Return
      %a{:href => "/admin"} Home
