=form_for shop  do |f|
  .group-fields
    %h3.light Policy
    .pgroup{:style => "margin:0"}
      %h4 Refund，Privacy and Terms of Service
      %p.note.st.ssb
        You may want to need to store your refund，Privacy and terms of service link to your store's payment page.These locations contain the corresponding plaintext message
        %br/
      =f.fields_for :policies,:title do |v|
        %h4=v.object.title
        .sb
          =v.text_area  :body , rows: 4, style: 'max-height: 400px'
          =v.hidden_field :title, value: v.object.title
  / .group-fields
  .group-actions
    =f.submit w('save'), class: 'btn'
  / .group-actions
