=form_for shop  do |f|
  .group-fields
    %h3.light 
      =t :policy
    .pgroup{:style => "margin:0"}
      %h4 
        =t :refund_privacy_and_terms_of_service
      %p.note.st.ssb
        =t :refund_privacy_and_terms_of_service_note
        %br/
      =f.fields_for :policies,:title do |v|
        %h4=v.object.title
        .sb
          =v.text_area  :body , rows: 4, style: 'max-height: 400px'
          =v.hidden_field :title, value: v.object.title
  / .group-fields
  .group-actions
    =f.submit w('save'), class: 'btn'
  / .group-actions
