#payment_tenpay.payment-service-provider
  %table
    %tr
      %td.fl(style="padding:20px 10px 20px 20px;width:225px")
        =link_to image_tag('admin/payments/tenpay.png'), 'http://union.tenpay.com/mch/mch_register_1.shtml', title: '申请', target: '_blank'
      %td
        %table.desc
          %tr
            %td.r Payment:
            %td.meta
              %strong Online Payment-TenPay
          %tr
            %td.r Description:
            %td.meta==#{link_to '财付通', 'http://www.tenpay.com'}是腾讯公司创办的在线支付平台。按交易额来算，财付通排名第二，份额为20%，仅次于支付宝。
  %dl.cl.sst(style="padding:0px; margin-bottom: 0; border-top: 1px solid #ddd")
    %dd.payment_select.hide(style="margin:0; padding-bottom: 10px")
      %p.gateway-select(style="padding-top:10px; padding-left:10px")
        %select.gateway-id(name="enabled_gateway")
          %option(value="0") Do not use TenPay
          %option(value="1") Use TenPay
    %dd.hide.activate_payment_provider(style="padding: 10px 10px 5px 10px")
      .fr
        %a.destroy(href="#")=image_tag 'admin/icons/trash.gif'
      Currently in use:
      %strong Caifutong immediately arrived Services
      %span.warn=link_to w('edit'), '#', class: :payment_edit
    %dd.account_payment_provider.nsb(style="display:none;border-top: 1px solid #ddd;")
      %form(action="#" onsubmit="return false")
        .group-fields
          %table
            %tr
              %td.payment-gateway-form(style="vertical-align: top; padding: 20px 20px 20px 0px; width: 180px")
              %td.provider-info
                %div
                  %p.note
                    %strong
                      Please provide your
                      %a(href="http://www.tenpay.com" target="gateway") TenPay
                      Merchant account number、Initial key，If there is no，Please log in to your
                      %a(href="http://mch.tenpay.com/market/index.shtml" target="gateway") TenPay Merchant Services
                      Conduct apply
        / .group-fields
        .group-actions
          %input.btn(name="commit" type="submit" value="Save")
          =w('or')
          =link_to w('cancel'), '#', class: 'cancel'
          / .group-actions

  %script(type="text/x-handlebars-template")
    .sb
      %label(for="payment_tenpay_account")  Contact No.
      %p.credential
        %input#payment_tenpay_account(autocomplete="off" name="account" size="30" type="text" value="{{account}}")
    .sb
      %label(for="payment_tenpay_key") Merchant Key
      %p.credential
        %input#payment_tenpay_key(autocomplete="off" name="key" size="32" type="password" value="{{key}}")
    .sb
      %label(for="payment_tenpay_service") Interface Type
      %p.credential
        %select#payment_tenpay_service(name="service")=options_for_select tenpay_service_types
        %input(name="payment_type_id" type="hidden" value="2")
