%h2#title Promotions
#action-links
  %ul
    %li.no-icon.discount-icon
      %a#add-discount-code-link(href="#") Add coupon code
=render "shared/noscript"
=render "shared/upgrade_ie"
.col-12.ssb
  #new-code.group(style="display:none; margin-top:0")
    %form#new-code-form.discount_new(action="#" onsubmit="return false")
      .group-fields
        .new-coupon
          %dl.clearfix
            %dt
              %label(for="discount_code")
                Promo Code
                %a#generate-coupon-code.note(href="#") Generate
            %dd
              %input#discount_code.big(name="discount[code]" size="30" type="text")/
            %dt
              %label(for="value") The amount of vouchers
            %dd#discount-group.clearfix.ssb
              %input#discount_value.r(name="discount[value]" size="10" type="text")/
            %dt.cb
              %label(for="discount_usage_limit") The number of vouchers
            %dd
              %input#discount_usage_limit.r(name="discount[usage_limit]" size="10" type="text")/
        / .new-coupon
      / .group-fields
      .group-actions
        %input.btn(name="commit" type="submit" value="Add coupon code")/
        Or
        %a.cancel(href="#") Cancel
      / .group-actions
  / new code
  %h3 Promo Code
  %p.ssb You can customize the discount code to shop
  #discount_table
    %table#coupons.standard-table(cellspacing="0")
      %thead
        %tr
          %th(width="30%") Promo Code
          %th(width="25%") The amount of vouchers
          %th(width="20%") The number of vouchers
          %th(width="25%") 
      %tbody
        %tr#none-item.hide
          %td.c(colspan="4")
            %span.note You do not discount code。Payment discount code can attract more customers。
      %input#page(name="page" type="hidden" value="1")/
    .sst.ssb
      #pagination

%script(id="discount-item" type="text/x-handlebars-template")
  %td
    .coupon.unique-coupon
      %strong {{{code}}}
  %td.value
    %strong {{{value}}}
  %td.note
    {{#if usage_limit}}
    %ul
      %li Used {{used_times}} 次
      %li Surplus {{usage_limit}} 次
    {{else}}
    \—
    {{/if}}
  %td.r
    %a.destroy(href="#")=image_tag 'admin/icons/trash.gif', alt: 'Delete'
%script(id="none-item" type="text/x-handlebars-template")

:javascript
  App.discounts = new App.Collections.Discounts();
  App.discounts.refresh(#{discounts_json});
  new App.Views.Discount.Index({collection: App.discounts})
