{% if collections.all.size == 0 %}
<em>The store does not have any collections</em>
{% else %}
<h1> Product collections </h1>
<ul>
  {% for collection in collections.all  %}
    <li class="collection">
      <strong><a href="{{ collection.url }}">{{ collection.title }}</a></strong>
      <small class="hint">共有{{ collection.products.size }}Item</small>
    </li>
  {% endfor %}
</ul>
{% if paginate.pages > 1 %}
<div class="paginate">
  {{ paginate | default_pagination }}
</div><!-- .paginate -->
{% endif %}
{% endif %}
