%div
  %h3 Ready to start?
  %p.note.st
    ShopQi allows you to easily manage commodity.
    You can add new items，It specifies different styles。For example：Your store has a shirt，Contains several colors and sizes。You may want to add a title to XXXL shirt styles，In ShopQi like this to add new
    %em Style
    Kind of operation is very easy。
  %p.sst
    %a.btn(href="/admin/products/new") Increased commodity
    -#
      Or
      %a.btn(href="/admin/product_imports") Import of goods from a CSV file
