- use_kindeditor

%h2#title New Product
#action-links
  %ul
    %li.no-icon=link_to "Return", products_path
=render "shared/noscript"
=render "shared/upgrade_ie"
=form_for product, validate: true, html: { multipart: true } do |f|
  =message_block on: [product]
  %table(cellpadding="0" cellspacing="0" style="width: 100%;")
    %tbody
      %tr
        %td#product-details(colspan="2")
          .section-header New Products
          %dl.padding
            %dt.top
              =f.label :title
              %br/
              %span.note For example: New generation Iphone4
            %dd=f.text_field :title,  style:"float:none;", id: :product_title, class: :big
            %dt.sst=f.label :body_html
          .container=f.text_area :body_html, id: :kindeditor
      %tr
        %td
          =f.fields_for :variants, child_index: '' do |v|
            .section-header.sst(style="margin-top:0") Property
            .padding
              %dl
                %dt
              %p=f.label :product_type
              %span.note For example: Clothing,Computer,Household appliances
              %dd
                %select#product-type-select
                  =options_for_select types_options
                =f.text_field :product_type, class: :hide
              %dt.sst
              %p=f.label :vendor
              %span.note Manufacturers。Example：IBM，TCL
              %dd
                %select#product-vendor-select
                  =options_for_select vendors_options
                =f.text_field :vendor, class: :hide
              %table.data2.sst.ssb
                %tbody
                  %tr
                    %th.clean=v.label :price
                    %th.clean=v.label :weight
                    %th.clean
                      =v.label :compare_at_price
                      %span.note Optional
                  %tr
                    %td
                      =v.text_field :price, style: 'width: 50px'
                      元
                    %td
                      =v.text_field :weight, class: :requires_shipping_relate, style: 'width: 50px'
                      kg
                    %td
                      =v.text_field :compare_at_price, style: 'width: 50px'
                      元
                  %tr
                    %td(colspan="3")
                      -#check_box包含hidden require_shipping，会产生多个variant
                      -#=v.check_box :requires_shipping, class: :requires_shipping, id: :variant_requires_shipping
                      =check_box_tag 'product[variants_attributes][][requires_shipping]', 1, product.variants.first.requires_shipping, id: :variant_requires_shipping, class: :requires_shipping
                      =v.label :requires_shipping, nil, for: :variant_requires_shipping
                      %span.hint Nature of the services or digital goods do not need to check the class
              #options
                %h3 Product Options
                %p.note.sb Option allows the customer to distinguish between various models of goods.
                %input#enable-options{name:"create-options", type:"checkbox", checked:params['create-options']}
                %label(for="enable-options")
                  This product has
                  %strong Multiple
                  Different styles.
                %p.note.ssb(style="padding-left: 20px") For example: Size And Color
                #create-options-frame.hide
                  %table#product-properties.data2(cellpadding="0" cellspacing="0")
                    %tbody
                      %tr
                        %th.clean(style="width: 180px;") Option Name
                        %th.clean(style="width: 170px;") The default value
                      %tr#add-option-bt
                        %td
                          %a.add-option(href="#") Add another option
                          %br/
                          %span.note For example：Color、Size
                        %td &nbsp;
            .section-header Stock
            .padding
              %dl.ssb
                %dt
                  %label(for="variant_sku") SKU
                  %span.note (Optional)
                  %br/
                  %span.note Unique identifier.
                %dd=v.text_field :sku
                %dd
                  %p=v.select :inventory_management, inventory_managements, {}, class: :inventory_management
                  %div
                    .inventory-option.st.inventory_management_relate.hide
                      %p.soft
                        =v.label :inventory_quantity
                        =v.text_field :inventory_quantity, class: [:small, :r, 'digit-2'], size: 6
                %dd.inventory_management_relate.hide
                  %p.soft
                    -inventory_policies.each do |policy|
                      =v.radio_button :inventory_policy, policy.code
                      %label.inline(for="product_variants_attributes__inventory_policy_#{policy.code}")=policy.name
                      %br/
          .section-header Tag
          .padding
            %dl(style="margin: 0;")
              %dd#multi-options
                %p.note Tags are keywords used to help customers find the product they need,Keywords with commas(,)Apart。
                =f.text_field :tags_text, size: 50
              %dd
                %p.note{:style => "clear: both"} Recently used tags，Click to increase。
                %ul#tag-list.tag-list.clearfix.nobull.st
                  -tags.each do |tag|
                    %li
                      %a(href="#")=tag.name
                .cl
          .section-header.sst Set
          .padding
            %dl(style="margin: 0;")
              %dd
                %p.note Select a custom collection this product belongs:
                %ul.nobull.pgroup.clearfix=render partial: "collection", collection: custom_collections
        / product images
        %td#product-right-col
          %h3.section-header(style="margin-bottom: 0") Product Image
          #upload-area
            %h4.st Upload pictures
            %p.note Allowed to upload file types( .gif, .jpg, .jpeg, .png)
            %p#file-input.st.sb
              =file_field_tag 'product[images][]', :class => 'multi nofixed'

  .group-actions
    =f.submit w('save'), id:"create-product-btn", class: :btn
    =w('or')
    =link_to w('cancel'), products_path
/ end div.main
/ end div.container
-#商品选项
%script(id="edit-option-item" type="text/x-handlebars-template")
  %td
    %select.option-selector=options_for_select options
    %input.hide(name="product[options_attributes][][name]" size="16" style="margin-top: 5px;" type="text" value="{{name}}")
  %td
    %input(name="product[options_attributes][][value]" size="16" type="text" value="{{value}}")
    {{#if destroyable}}
    %span.fr.sr(style="margin-top: 5px")
      %a.del-option(href="#")=image_tag 'admin/icons/trash.gif', alt: 'Delete'
    {{/if}}

:javascript
  App.init = function(){
    new App.Controllers.Products();
    Backbone.history.start();
  }
  App.product_options = new App.Collections.ProductOptions();
  App.product_options.refresh(#{product.options.to_json(methods: :value, except: [ :created_at, :updated_at ])});
  //显示商品选项
  new App.Views.ProductOption.Index({collection: App.product_options})

  task_name = 'add_product';
