%h2#title Express delivery
#action-links
  %ul
    %li.no-icon=link_to w('edit'),'#', onclick: "TogglePair(['shipping-summary', 'shipping-form']); return false;"
    %li.no-icon=link_to 'Return', shippings_path
#shipping-details.box2
  %h3  Editing based on the weight of freight
  #shipping-summary
    %dl
      %dt
        %label Name
      %dd=weight_based_shipping_rate.name
      %dt
        %label Weight
      %dd== 从 #{weight_based_shipping_rate.weight_low}kg 到 #{weight_based_shipping_rate.weight_high}kg
      %dt
        %label Freight
      %dd== ¥#{weight_based_shipping_rate.price} 元
  #shipping-form{:style => "display:none"}
    =form_for [shipping, weight_based_shipping_rate] do |f|
      =message_block on: [weight_based_shipping_rate]
      %dl
        %dt
          =f.label :name
          %span.note For example：SF Express，EMS Etc.
        %dd=f.text_field :name, maxlength: 255,size: 40, style: 'font-size: 150%'
        %dt
          %label Weight
          %span.note Only when the weight of the order items in the class this range takes effect
        %dd
          从
          =f.text_field :weight_low,size: 5,class: 'r'
          %strong kg
          To
          =f.text_field :weight_high,size: 5,class: 'r'
          %strong kg
        %dt=f.label :price
        %dd
          =f.text_field :price ,size: 5, class: 'r'
          %strong 元
      %p.btn-divider
        =f.submit w('save'),class: 'btn'
        =w('or')
        =link_to w('cancel'),'#', onclick: "TogglePair(['shipping-summary', 'shipping-form']); return false;"
:javascript
  $(document).ready(function(){
    if ($('.error').size() > 0){
      TogglePair(['shipping-summary', 'shipping-form']);
      return false;
    }
  })
