%h1 
  =t :souqeen_welcome
#what-is-next.clearfix
  =image_tag "admin/icons/progressbar/#{@task.name}.jpg"
  #next-step-description
    %h2
      %strong 
        =t :next_step
      =t :commodity
    %p
      =t :store_product
      %a(data-guide-position="bottom" data-guide-target="#navlist li a[href='/admin/products']" data-guide-text="Click here to add a commodity" href="##{@task.name}" class="show_#{@task.name}_guide")
        %em.icon
        %strong.triangle
        =t :product_page
      =t :incre_first_product
  / #name
/ #what-is-next
