%h2#title Modify user information
#action-links
  %ul
=render partial:"shared/noscript"
=render partial:"shared/upgrade_ie"
%div
  =form_for user,html: {multipart: true} do |f|
    =message_block on:[user]
    %h4 Personal Information
    %dl.group.sst.group-fields
      %dt=f.label :name
      %dd=f.text_field :name
      %dt=f.label :avatar_image
      %dd=image_tag user.avatar_image.thumb('100x100').url if user.avatar_image_uid
      %dd=f.file_field :avatar_image
      %dt
        =f.label :phone
        %span.hint (Optional)
      %dd=f.text_field :phone
      %dt
        =f.label :bio
        %span.hint (Optional)
      %dd=f.text_area :bio,cols:40,rows:10
    %h4 Login Information(Need to re-login to update this information)
    %dl.group.sst.group-fields
      %dt=f.label :email
      %dd=f.text_field :email
      %dt.toggle=f.label :password
      %dd.toggle=f.password_field :password,value: ""
      %dt.toggle=f.label :password_confirmation
      %dd.toggle=f.password_field :password_confirmation
    %h4 Contact
    %dl.group.sst.group-fields
      %dd
        %span.note We will periodically send an important message about shopqi via email to our users。This may include planned maintenance is to provide notice to you of new features related downtime or notice。We maintain a minimum number of messages
      %dd
        %input{:name => "user[receive_announcements]", :type => "hidden", :value => "0"}/
        %input#user_receive_announcements{:checked => "checked", :name => "user[receive_announcements]", :type => "checkbox", :value => "1"}/
        %label{:for => "user_receive_announcements"} To keep the latest information via e-mail
    %p.btns
      %input.btn{:name => "commit", :type => "submit", :value => "Save"}/
      =w('or')
      =link_to w('cancel'),account_index_path

