%h2#title 新 增 博 客
#action-links
  %ul
    %li.no-icon
      %a(href=pages_path) 取消
/ Required arguments: blog, method
#new-blog-form.group{:style => "padding:10px;"}
  =form_for blog,html:{id:"new_blog",class:"new_blog"} do |f|
    =message_block on:[:blog]
    %dl
      %dt.nst=f.label :title
      %dd
        =f.text_field :title, class:[:big,:sb]
        =f.hidden_field :handle
      %dt Comment
      %dd.choice
        %select#blog_commentable{:name => "blog[commentable]"}
          %option{:selected => "selected", :value => "no"} Disable Comments
          %option{:value => "moderate"} Allow Comments,Required audit
          %option{:value => "yes"} Allow Comments,And automatically release
    %p.btns{:style => "margin:0"}
      %input.btn{:name => "commit", :type => "submit", :value => "New"}/
      或者
      =link_to 'Return', pages_path
/ end div.main
/ end div.container

:javascript
  task_name = 'add_content';
