%h2#title
  =link_to blog.title, "/blogs/#{blog.handle}", target: :_blank
#action-links
  %ul
    %li#add-entry.icon
      =link_to "New Posts",new_blog_article_path(blog)
    %li.no-icon
      =link_to "Modification",edit_blog_path(blog),id:"blog-edit-link"
    %li.no-icon
      = link_to image_tag('admin/icons/trash.gif'), blog_path(blog), remote: true, method: :delete, title: 'Remove it', class: :del, data: { confirm: 'Are you sure you want to delete?' }
/ begin action_links
#table-filters.box2.sst.ssb{:style => ""}
  Show
  #article-status-select.filter-select
    %a#status-filter-link(href= "#")=search_label :published, 'Any state',status
    %ul.dropdown{:style => "display: none"}
      %li
        %strong Article status
      -status.each_pair do |code,name|
        %li=link_to name,blog_search_path(blog,published_eq: code)
      %li.filter-show-all.current=link_to '显示所有',blog_search_path(blog,published_eq: nil)
  The article by the
  #author-select.filter-select
    %a#author-filter-link(href= "#")=search_label :author, 'Either author'
    %ul.dropdown{:style => "display: none"}
      %li
        %strong Author
      -authors.each do |author|
        %li=link_to author,blog_search_path(blog,author_eq: author)
      %li.filter-show-all.current=link_to 'Show all',blog_search_path(blog,author_eq: nil)
  And
  #tag-select.filter-select
    %a#tag-filter-link(href= "#")=search_label :tags_name, 'Either'
    %ul.dropdown{:style => "display: none"}
      %li
        %strong Tag
      -tags.each do |tag|
        %li=link_to tag,blog_search_path(blog,tags_name_eq: tag)
      %li.filter-show-all.current=link_to 'Show all',blog_search_path(blog,tags_name_eq: nil)
  Tag
#blog-show
  %p.note.r{:style => "margin-bottom: 5px"}
    ==This blog has#{articles.size}Articles
  #articles
    #page-list{:style => ""}
      %table.standard-table.ssb{:cellspacing => "0"}
        %thead
          %tr
            %th{:width => "20%"}==Article
            %th{:width => "10%"} Comment
            %th{:width => "17%"} Tag
            %th{:width => "13%"} Author
            %th{:width => "8%"} Update
            %th{:width => "5%"} &nbsp;
        %tbody=render articles
  / PAGINATION LINKS
  #btm-nav.act-screen
    #pagination
  / Required arguments: parent, counts
  -#=render partial:"comments"
:javascript
  App.init = function(){
    new App.Controllers.Articles();
    Backbone.history.start();
  }

  task_name = 'add_content';
