#header
  #logo
    / css hook for logos
  %h1#tagline
    %span.title= link_to 'Thank You', show_shop_url
    %span.subtitle Your order has been completed payment.
#main
  #content
    .group
      %p
        Your order number is：
        %strong=@order.name
      %p
        =link_to 'Return to shop', @order.shop.primary_domain.url
