- use_kindeditor

%h2#title New smart collection
#action-links
  %ul
    %li.no-icon=link_to "Cancel", custom_collections_path
=form_for smart_collection do |f|
  %div(style="margin:0;padding:0;display:inline")
    %dl
      %dt.top
        %label Title
      %dd
        =f.text_field :title, class: :big
        =f.hidden_field :handle
      %dt
        %label Description
        %span.note (Optional)
      %dd(style="margin-bottom:0")=f.text_area :body_html, id: 'kindeditor', style: "width: 895px; height: 200px;"
  #smart-form.pgroup.sst
    %h3 Set Conditions
    %p.hint You can add multiple conditions by the right button
    %ul#smartcollectionform.nobull(style="margin:0;padding:0")
      =render partial: "rule", collection: smart_collection.rules
  .pgroup.sst
    %p.hint
      If you need to specify a set of selected commodities，Use
      %a(href="/admin/custom_collections/new") Custom Collection
      \.
  .group-actions
    %input#submit-collection-btn.btn(name="commit" type="submit" value="Save")
    Or
    =link_to "Cancel", custom_collections_path, class: :cancel

:javascript
  App.init = function(){
    new App.Controllers.SmartCollections();
    Backbone.history.start();
  }
